.bg-image {
  background-image: url('/imagens/estudio.png');
  height: 300px;
  background-size: cover;
  background-position: center 30%;
  position: relative;
}

.titulo-principal {
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: inline-block;
}
